#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "My KS test"
#define VER_INTERNALNAME_STR        "myks.sys"
#define VER_ORIGINALFILENAME_STR    "myks.sys"

#include "common.ver"


